footer {
    width: 100vw;
    padding-bottom: 10px;
    font-size: 1.1rem;
    padding-top: 1rem;
    color: var(--main);
}

.media-icons i {
   font-size: 1.8rem;
   color: var(--main);
}

.media-icons i:hover{
    color: var(--light);
    text-decoration: underline;
 }

 footer a {
    margin-right: 1rem;
    color: var(--darkPurple);
}
 footer a:hover {
    text-decoration: underline;
    color: var(--light);
 }