nav {
    width: 100vw;
}

.navbar-toggler {
    margin-right: 1rem;
}

.navbar-dark .navbar-brand {
    color: var(--mainBlue);
}

.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
    color: var(--mainWhite);
}

.nav-link {
    color: var(--mainBlue) !important;
}

.nav-link:hover {
    color: var(--lightWhite) !important;
}
