.background {
    background-image: url('../images/tools.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.background  h1 {
    color: var(--mainWheat);
    font-size: 6em;
}

.background h3{
    color: var(--mainWheat);
    font-size: 3em;
}

.background  h1,  .background  h3 {
    text-shadow: 3px 3px 2px var(--mainYellow);
}

#align-button {
    margin-left: 75%;
}

