:root {
    --mainPurple: #8F0AFA;
    --darkPurple: #490085;
    --lightPurple: #B609D9;
    --lightPurple2: #E19CEF;
    --mainDark: #23252B;
    --mainWhite: #f3f3f3;
    --lightWhite: #e5e5e5;
    --lightBlue: #7e6fd48c;
    --mainGray:	#808080;
    overflow-x: hidden;
  }

  .bg-default {
    background: var(--lightPurple2);
  }
